/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('https://cdn.jsdelivr.net/gh/nixgnauhcuy/cdn/font/source-code-pro-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://cdn.jsdelivr.net/gh/nixgnauhcuy/cdn/font/source-code-pro-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* 主页半透明度 */
.layout_page {
  opacity: 0.9;
}

/* 取消页脚背景 */
#footer {
  background: none;
}

/* banner背景 */
#page-header {
  /* 采用透明的方式取消，最后一个0表示透明 */
  background-color: rgba(255, 255, 255, 0);
}

/* 文章背景 */
.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,235,235,.6);
}

/* 首页文章卡片背景 */
#recent-posts > .recent-post-item {
    background: rgba(255,255,255,.6);
}

/* 文章页背景 */
.layout_post>#post {
    /* 以下代表白色透明度为0.6 */
    background: rgba(255,255,255,.6);
}

/* 卡片背景 */
#aside_content .card-widget {
	background: rgba(255,255,255,.6);
}

.layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.6 */
    background: rgba(255,255,255,.6);
}


body {
    cursor: url(https://cdn.jsdelivr.net/gh/nixgnauhcuy/cdn/image/huaji.png),
        default;
}
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/nixgnauhcuy/cdn/image/yinxian.png),
        default;
}


/*
 首页文章卡片标题
 .article-title: 标题
 .article-meta-wrap: 发表于
 .article-meta-wrap a: 标签
 .content: 摘要
*/
#recent-posts>.recent-post-item>.recent-post-info>.article-title, .content {
    color: #ffffff;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    color: #ffffff;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a {
    color: #ffffff;
}

#recent-posts>.content {
    color: #ffffff;
}

/*
	文章
*/
#article-container p {
    color: #16202b;
}

/*
	文章中 ` ` 
*/
#article-container code {
    background: rgba(27,31,35,.0);
    color: #00ffd0;
}

/* 文章中 [](url) 超链接 */
#article-container a {
    color: #f54949;
}

/* 文章中引用块 */
blockquote {
    border-left: .2rem solid #18e0ce;
    background-color: rgb(153 193 162 / 43%);
}


/* 文章底部的标签图标 */
#post .tag_share .post-meta__tags {
	padding: 0 .9rem
    color: #49f5e5;
    font-size: .9em;
}

/* 博主昵称颜色 */
.author-info__name {
    color: #00FFFF;
}

/* 版权链接去掉下划线 */
.layout_post .post-copyright .post-copyright-info a {
    text-decoration: none;
}


/******************************************* valine相关 *******************************************/
/* 评论框  */
.vwrap {
    box-shadow: 2px 2px 5px #bf9c71;
    background: rgb(255 255 255 / 50%);
    border-radius: 8px;
    padding: 10px;
    margin: 30px 0px 30px 0px;
}


/* 提交按钮 */
#vcomment button {
    padding: 0.3rem 0.8rem;
    border-color: #fff;
    background-color: #e58a8a;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

/* 评论区代码块 */
.v[data-class=v] code {
    color: #c7254e;
    background-color: #F9F2F4;
}

/* 设置评论框 */
.vcard {
    box-shadow: 2px 10px 18px #bf9c71;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* 取消回复聊天框 */
.vquote .vcard {
    box-shadow: 2px 2px 5px transparent;
    background: rgba(255, 255, 255, 0.0);
    padding: 0px;
}

/* 设置评论区用户来源和时间*/
.v[data-class=v] .vsys, .v[data-class=v] .vtime {
    color: #e21414;
}

/* 设置评论区用户名*/
.v[data-class=v] .vnick {
	color: ##ff34e6;
}


