/* 取消页脚背景 */
#footer {
  background: none;
}

/* banner背景 */
#page-header {
  /* 采用透明的方式取消，最后一个0表示透明 */
  background-color: rgba(255, 255, 255, 0);
}


body {
    cursor: url(https://cdn.jsdelivr.net/gh/nixgnauhcuy/cdn/image/huaji.png),
        default;
}
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/nixgnauhcuy/cdn/image/yinxian.png),
        default;
}


/* 文章中 [](url) 超链接 */
#article-container a {
    color: #f54949;
}

blockquote {
    border-left: .2rem solid #000000;
    background-color: rgb(255 255 255 / 45%);
}

blockquote:hover {
    box-shadow: 0 0px 10px 10px #000000;
}


#post .post-copyright .post-copyright-info a {
    text-decoration: none;
	color: #1a9fdd;
}

/* 鱼塘固定宽度 */
canvas:not(#ribbon-canvas), #web_bg {
    margin-bottom: -0.5rem;
    display: block;
}


img[src*='#img-radius'] {
    border-radius: 9px;
}

img{
    border-radius: 9px;
}

img:hover{
    box-shadow: 0 0px 10px 10px #6d93a8;
}
#article-container figure.highlight:hover{
    box-shadow: 0 0px 10px 5px #ffb8b8;
}


#recent-posts>.recent-post-item:hover {
    box-shadow: 0 0px 10px 5px #ffffff;
}

/*移动端优化：去除归档、标签、最新文章、公告等*/
@media screen and (max-width: 800px) {
    #aside_content div {
        display: none;
    }
}
